@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_item{
  transition: 0.3s;
  padding: 5px 18px;
  border-radius: 30px;
}

.nav_item:hover{
  background: #f3f3f5;
  box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

.search{
  box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
  border: none;
  background: #f8f8f8;
  outline: none !important;
}

.custom_button:hover{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
}

.custom_shadow{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease;
}

.custom_shadow:hover{
  background-color: #ff8243;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}


.custom_social{
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-items: center; 
  align-items: center; 
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
  color: #ff8243;
  font-size: 19px;
}

.custom_social:hover{
  background: #ff8243;
  color: white;
}

.email_button{
  width: 80%;
  border: gray solid 1px;
}

.email_button::placeholder{
  color: gray;
}

.subs_button{
  width: 50%;
  color: white;
  background:#ff8243;
}

.subs_button:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease;
}

.headings{
  box-shadow:  9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff
}

.footer_bg{
  background-color: #e6e8ec;
  -webkit-tap-highlight-color: transparent;
}

